<div class="signup_page">
  <%= render "site_header" %>

  <div class="signup_page-content">

    <h2 class="signup_page-header">
      Start your free 30-day trial.
    </h2>

    <h3 class="signup_page-subheader">
      Fully functional. No credit card required
    </h3>
    <div class="signup_page-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "signup_page-formContent"}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em style="display: none">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <div class="signup_page-fiveReasons">
        <h5> 5 Reasons You'll Love Shmarvest </h5>
        <ol>
          <li>Fast to set up and easy to use</li>
          <li>Look professional with style</li>
          <li>Your data stays safe and secure</li>
          <li>Track and grow your business</li>
          <li>Real people to answer your questions</li>
        </ol>
      </div>

    </div>
  </div>
</div>